body {
  background: linear-gradient(to top, #a6ddc1, #326d6df5);
  color: rgb(255, 255, 255);

  }
  .Wrapper{
    display: flex;
    flex-direction: column;
  }
  /* NAVBAR */
.headnav{
    background: #14181b69;
}
h3{
  color: rgb(255, 255, 255);
}
   /* --------- */

  #headerContent{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 20em;
      color: rgb(255, 255, 255);
  }
  #headerContent h1{
    font-size: 5em;
  }
  #headerContent p{
    font-size: 1.2em;
  }
  /* --------- */
  

/* CONTENT */
.content{
    margin-bottom:3em;
}
section{
    height: 60em;
    padding: 3em 3em 3em 3em;
}

  /* LINKS */
  .nav-link{
      color: rgba(0, 0, 0, 0.61);
  }
  .header-link:hover, .header-link:focus,
  .footer-link:hover, .footer-link:focus,
  .nav-link:hover, .nav-link:focus,
  .site-link:hover, .site-link:focus {
    color: rgb(216, 216, 216);
    cursor: pointer;
  }
  /* --------- */

  /* FOOTER */
  footer{
    margin-top: 5em;
  }
.footer-title{
  text-align: center;
}
.header-link,
.footer-link{
  color: rgb(87, 87, 87);
}
.footer-text-small{
  text-align: center;
}
/* --------- */