body {
  background: linear-gradient(to top, #a6ddc1, #326d6d);
  color: rgb(255, 255, 255);

  }
  /* NAVBAR */
.headnav{
    background: #14181b69;
}
h3{
  color: rgb(255, 255, 255);
}
   /* --------- */

  /* HEADER */
  #Header {
    height: 20em;
  }
  #headerContent{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 2em;
      color: rgb(255, 255, 255);
  }
  /* --------- */
  

/* CONTENT */
.content{
    margin-bottom:3em;
}
section{
    padding:3em 3em 3em 3em;
}

  /* LINKS */
  .nav-link{
      color: rgba(0, 0, 0, 0.61);
  }
  .nav-link:hover, .nav-link:focus,
  .site-link:hover, .site-link:focus {
    color: rgb(216, 216, 216);
    cursor: pointer;
  }
  /* --------- */